@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .resize {
    background-color: white !important;
    width: 80% !important;
    /* height: 80% !important; */
  }
  .loginresize {
    width: 80% !important;
    gap: 10px !important;
  }
  .labelsection {
    flex-direction: column !important;
  }
  .labelsection2 {
    justify-content: flex-start !important;
  }
  .textfield {
    size: "small" !important;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .resize {
    background-color: purple !important;
    width: 80% !important;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .resize {
    background-color: blue !important;
    width: 80% !important;
    /* height: 80% !important; */
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .resize {
    background-color: red !important;
    width: 25% !important;
    /* height: 80% !important; */
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
