/* .watchlist-main-container{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
} */

@media (min-width: 768px) {
  #fav-box {
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  #w-card-box {
    margin: 0.5em;
    width: 300px !important;
  }
}
