
.footer-box {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-top: 3em;
    color: white;
    background-color: #184D47;;
    height: 10em;
    width: 100%;
    overflow-x: hidden;
  overflow-y: hidden;
}

.trex-name{
    padding-top: 0.4em;
}
a:link{
    text-decoration: none;
}

.col-1{
    font-size: 35px;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
}

.col-1-title{
    margin-top: 1.5em;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.col-1-list-about{
   display: flex;
   justify-content: center;
}

.col-1-list{
    display: flex;
    justify-content: center;
    font-size: larger;
    padding: 0;
}


.col-2{
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.col-3{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
}

.col-1-title-copy{
    font-size: large;
}
.socials-icon{
    padding: 1em;
 }

.logo-component{
    width: 2em;
    /* padding: 0.1em; */
}



@media (max-width: 320px) {
    .footer-box{
        display: inline-grid;
        height: auto;
    }  

    .col-1{
       padding: 0.2em;
        align-items: center;
    display: flex;
    justify-content: center;
    }

    .col-2{
        justify-content: center;
        align-items: center;
    }

    .col-1-title-copy{
        font-size: xx-small;
    }
    .col-3{
        margin-top: 2em;
        margin-bottom: 1em;
    }

    }

    @media (max-width: 375px) {
        .footer-box{
            display: inline-grid;
            height: auto;
           
        }  
        .col-1{
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0.2em;
        }
    
        .col-2{
            justify-content: center;
            align-items: center;
        }
    
        .col-1-title-copy{
            font-size: xx-small;
        }

        .col-3{
            margin-top: 2em;
            margin-bottom: 1em;
        }

        }

        @media (max-width: 425px) {
            .footer-box{
                display: inline-grid;
                height: auto;
               
            }  
            .col-1{
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 0.2em;
            }
        
            .col-2{
                justify-content: center;
                align-items: center;
            }
        
            .col-1-title-copy{
                font-size: xx-small;
            }
    
            .col-3{
                margin-top: 2em;
                margin-bottom: 1em;
            }
    
            }
  