@media (min-width: 0px) {
  #trybox {
    display: flex;
    flex-direction: column;
  }

  #borderlesslogo {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 50px;
    height: 35px;
  }
  #title {
    font-size: 1.7rem;
    line-height: 1.6;
    padding-right: 3px;
    padding-left: 0;
  }
  #searchBox {
    width: 50%;
    align-items: center;
    padding: 10px;
  }
}

@media (min-width: 320px) {
  #trybox {
    display: flex;
    flex-direction: column;
  }
  #titleBox {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 75%;
    padding-right: 40px;
  }

  #borderlesslogo {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 50px;
    height: 35px;
  }
  #title {
    font-size: 1.7rem;
    line-height: 1.6;
    padding-right: 3px;
    padding-left: 0;
  }
  #searchBox {
    width: 90%;
    align-items: center;
    padding-right: 40px;
  }
}

@media (min-width: 480px) {
  #trybox {
    display: flex;
    flex-direction: column;
  }
  #titleBox {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 75%;
  }

  #borderlesslogo {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 60px;
    height: 45px;
  }
  #title {
    font-size: 2.5rem;
    line-height: 1.6;
    padding-right: 3px;
    padding-left: 0;
  }
  #searchBox {
    width: 80%;
    align-items: center;
    padding-right: 40px;
  }
}

@media (min-width: 600px) {
  #menuIcon {
    display: none;
  }
  #trybox {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }
  #titleBox {
    display: flex;
    text-align: center;
    justify-content: start;
    width: 80%;
  }
  #borderlesslogo {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 50px;
    height: 35px;
  }
  #title {
    font-size: 2.5rem;
    line-height: 1.6;
    padding-right: 3px;
    padding-left: 0;
  }
  #searchBox {
    width: 70%;
    padding: 10px;
  }
}

@media (min-width: 750px) {
  #trybox {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }
  #titleBox {
    display: flex;
    text-align: center;
    justify-content: start;
    width: 80%;
  }
  #borderlesslogo {
    padding-top: 5px;
    padding-bottom: 0;
    width: 65px;
    height: 50px;
  }
  #title {
    font-size: 2.7rem;
    line-height: 1.6;
    padding-right: 3px;
    padding-left: 0;
  }
}

@media (min-width: 1024px) {
  #trybox {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }
  #titleBox {
    display: flex;
    text-align: center;
    justify-content: start;
    width: 80%;
  }
  #borderlesslogo {
    width: 50px;
    height: 35px;
  }
  #title {
    font-size: 2rem;
    line-height: 1.6;
    padding-right: 3px;
    padding-left: 0;
  }
  #searchBox {
    width: 40%;
    padding: 10px;
  }
}
@media (min-width: 1281px) {
  #trybox {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }
  #titleBox {
    display: flex;
    text-align: center;
    justify-content: start;
    width: 100%;
  }
  #borderlesslogo {
    width: 50px;
    height: 35px;
  }
  #title {
    font-size: 2rem;
    line-height: 1.6;
    padding-right: 3px;
    padding-left: 0;
  }
  #searchBox {
    width: 40%;
    padding: 10px;
  }
}
